.game-list-wrap {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-wrap {
    padding: 25px 40px;
}

.content-heading {
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
}

.content-description {
    font-size: 16px;
    margin: 8px 0 0;
}

.btn-wrap {
    padding: 35px 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.game-btn {
    padding: 10px 15px;
    background-color: rgb(165, 165, 165);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.game-btn:hover {
    background-color: #757575;
    transition: 0.3s;
}