.game-list-wrap {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 17px;
}

.btn-wrap {
    padding: 35px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-btn {
    padding: 10px 15px;
    background-color: hsla(0, 0%, 100%, .07);
    border-radius: 6px;
    font-size: 14px;
    color: rgb(216, 213, 213);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.game-btn:hover {
    background-color: #383838;
    transition: 0.3s;
}

.loader-wrap {
    padding: 25px 40px;
    text-align: center;
}


@media (max-width: 1199.98px) {
    .game-list-wrap {
        justify-content: space-around;
    }
}
