.game-list-wrap {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-wrap {
    padding: 25px 40px;
}

.content-heading {
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
}

.content-description {
    font-size: 16px;
    margin: 8px 0 0;
}

.filters-wrap {
    padding: 35px 40px;
    display: flex;
    align-items: center;
}

.btn-wrap{
    padding: 35px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-btn {
    padding: 10px 15px;
    background-color: hsla(0, 0%, 100%, .07);
    border-radius: 6px;
    font-size: 14px;
    color: rgb(216, 213, 213);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.game-btn:hover {
    background-color: #383838;
    transition: 0.3s;
}