.filter-select {
    padding: 10px 16px;
    background-color: hsla(0, 0%, 100%, .07);
    border-radius: 8px;
    font-size: 14px;
    color: rgb(216, 213, 213);
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 25px;

}

.filter-select option {
    color: rgb(17, 17, 17);

}

@media (max-width: 767.98px) {
    .filter-select {
        margin: 0 10px 10px 0;
        padding: 10px 14px;
    }
}

@media (max-width: 575.98px) {
    .filter-select {
        width: 100%;
        margin: 0 0 12px 0;
    }
}