.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px;
}

@media (max-width: 575.98px) {
    .header-wrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 25px 25px 10px;
    }
}