.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px;
}

.search-input {
    width: 600px;
    padding: 12px;
    border-radius: 24px;
    font-size: 15px;
    outline: none;
    border-style: none;
    background-color: #fff;
}