.game-card {
  border-radius: 10px;
  overflow: hidden;
  width: 335px;
  margin-bottom: 35px;
  background-color: #202020;
  transition: 0.5s;
}

.game-card:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: #3a3a3a 0px 0px 10px;
}

.game-img {
  object-fit: cover;
  width: 100%;
  height: 215px;
}

.game-content {
  padding: 30px;
}

.game-content-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.game-title-link {
  font-size: 24px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}

.game-title-link:hover {
  color: #757575;
  transition: 0.3s;
}

