.content-wrap {
    padding: 25px 40px;
}

.content-heading {
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
}

.content-description {
    font-size: 16px;
    margin: 8px 0 0;
}

.filters-wrap {
    padding: 35px 40px;
    display: flex;
    align-items: center;
}

@media (max-width: 1199.98px) {
    .filters-wrap {
        justify-content: center;
    }

    .content-wrap {
        text-align: center;
    }
}

@media (max-width: 991.98px) {

    .content-heading {
        font-size: 60px;
    }
}

@media (max-width: 767.98px) {
    .filters-wrap {
        flex-wrap: wrap;
    }

    .content-heading {
        font-size: 52px;
    }
}

@media (max-width: 575.98px) {
    .content-heading {
        font-size: 42px;
    }
}